.inputZone{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin: auto;
  width: 576px;
}

.sequence{
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  flex-wrap: wrap;
  width: 80%;
}

.circleMargin{
  margin-bottom: 50px;
  margin-left: 20px;
}